*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mainDiv{
    background-color: rgb(37, 37, 37);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #c4c4c4;
}

form{
    width: 80%;
}

form>h1{
    text-align: center;
    padding: 1.8rem .8rem;
}

#colSepDiv>div:first-child{
    display: grid;
    grid-template-columns: 50% 50%;
}

#colSepDiv>div:first-child>div{
    place-items: center;
}


#colSepDiv>div>div>div{
    display: grid;
    margin: 2rem;
    font-size: 1rem;
}

label{
    margin-bottom: .3rem;
}

input,select{
    width: 15rem;
    height: 1.6rem;
    outline: none;
}

textarea{
    width: 15rem;
    height: 4rem;
    outline: none;
}

input,select,option{
    color: #000;
    padding: .3rem .5rem;
}

input,select{
    border-radius: 5px;
    border: none;
}

#cnField,.addCNDiv{
    display: grid;
    place-items: center;
}

.addCNDiv{
    position: relative;
    overflow: hidden;
}

#btnDiv{
    width: 55%;
    height: 30vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

#btnDiv>div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnDiv>div>button{
    width: 16vw;
    font-size: 1.2rem;
    color: rgb(226, 226, 226);
    letter-spacing: 0.2em;
    padding: .4em;
    background-color: transparent;
    border: 1px solid rgb(226, 226, 226);
}


