*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    padding: 0.6em;
}

#bodyDiv{
    display: flex;
    flex-direction: row;
    height: 100%;
}

#flowDiv{
    flex: 50;
    display: flex;
}

#genDiv{
    flex: 50%;
    overflow: scroll;
}

.flowslides{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    height: 80%;
}

.pageHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 15%;
}

.subhead{
    flex: 15%;
}

.flowBody{
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.subhead,.flowBody{
    padding-left: 1.5rem;
    font-size: 1.25rem;
}

.subhead{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 1.1rem;
    flex-direction: column;
}

.nxtBtn{
    flex: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nxtBtn>div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12em;
}

.nxtBtn>div>button{
    width: 9.2em;
    height: 3em;
    letter-spacing: .1em;
    font-size: 1.1rem;
    border-radius: .4em;
    border: none;
    background-color: red;
    color: white;
}

.flowslides{
    display: none;
    =
}
